* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    margin: auto;
}

.links {
    padding-top: 20px;
}

.links a {
    font-size: 18px;
    color: #363535;
}

.homepage-title {
    font-size: 18px;
    font-weight: 600;
}

