* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    /* height: calc(100%vh - 76px); */
    height: 100%vh;
}


.rightpane,
.leftpane {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}


.leftpane {
    width: 100%;
}

.rightpane {
    width: 0%;
}

.rightpane-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.message-header {
	background-color:rgb(65, 65, 77);
	flex: 0 0 50px;
    width: 100%;
    color: white;
}

.message-content {
	background-color: white;
	flex: 1;
    overflow: auto;
}

.message-footer {
	background-color: rgb(65, 65, 77);
	display: flex;
    flex: 0 0 80px;
}

.message-header div {
    padding-top: 10px;
}


#message {
    width: 100%;
}

.addrow {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

.msgreceived {
    background-color: lightblue;
}

.msgsent {
    background-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
}

.msgdate {
    font-size: 10px;
}

.message-content p {
    display: block;
}

.msgbtn {
    font-size: 12px;
}

.message-footer {
    padding: 8px;
}
