<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Dropoff</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="row">
                    <div class="col text-center">
                        <h3>{{event.date_time}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                        Dropoff Time: {{event.date_time}}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                       Dropoff Location: {{event.location}}
                    </div>
                </div>
                <div class="row">
                    <div class="col text-left">
                       Orders:
                    </div>
                </div>
                <!--Accordion wrapper-->
                <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                    {% for order in orders %}

                    <!-- Accordion card -->
                    <div class="card">
                
                        <!-- Card header -->
                        <div class="card-header" role="tab" id="heading{{order.id}}">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapse{{order.id}}" aria-expanded="true"
                            aria-controls="collapse{{order.id}}">
                            <h5 class="mb-0">
                            {{order.user.first_name}} {{order.user.last_name}} ({{order.status}})<i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                        </div>
                    
                        <!-- Card body -->
                        <div id="collapse{{order.id}}" class="collapse show" role="tabpanel" aria-labelledby="heading{{order.id}}"
                        data-parent="#accordionEx">
                        <div class="card-body">
                            <ul>
                                {% for item in order.quantities.all %}
                                <li>{{item.item.item_title}} ${{item.item.item_price}} ({{item.quantity}})</li>
                                {% endfor %}
                            </ul>
                            <div class="input-group">
                                <div class="form-check">
                                    <label for="">Received</label>
                                    <input type="radio" name="orderStatus-{{order.id}}" value="Received">
                                </div>
                                <div class="form-check">
                                    <label for="">Confirmed</label>
                                    <input type="radio" name="orderStatus-{{order.id}}" value="Confirmed" >
                                </div>
                                <div class="form-check">
                                    <label for="">Cancelled</label>
                                    <input type="radio" name="orderStatus-{{order.id}}" value="Cancelled" >
                                </div>
                                <div class="form-check">
                                    <label for="">Completed</label>
                                    <input type="radio" name="orderStatus-{{order.id}}" value="Completed" >
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-center">
                                    <a href="/user/{{order.id}}">Go To Order</a>
                                </div>
                            </div>
                        </div>
                        </div>
                    
                    </div>
                    <!-- Accordion card -->
                    {% endfor %}
                </div>
                <!-- Accordion wrapper -->
                
                <div class="row my-3">
                    <div class="col text-left">
                        <a class="btn btn-outline-danger" href="/event/{{event.id}}/edit">Edit Event</a>
                    </div>
                    <div class="col text-center">
                        <a data-toggle="modal" data-target="#confirmCancellationModal" class="btn btn-danger">Cancel Event</a>
                    </div>
                    <div class="col text-right">
                        <a href="/event/{{event.id}}/complete" class="btn btn-primary">Complete Event</a>
                    </div>
                </div>
            </div>
        </div>

  <!-- Modal for confirming event cancellation -->
  <div class="modal fade" id="confirmCancellationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Are you sure you want to cancel?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Cancelling the event will cancel all user orders that have been placed and cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="/event/{{event.id}}/delete" class="btn btn-danger">Cancel</a>
        </div>
      </div>
    </div>
  </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>