<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Menu</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="row">
                    <div class="col text-center">
                        <h1>Add Items to Your Menu</h1>
                    </div>
                </div>
                <form id="menuForm" action="/menu/new/addItem" method="POST">
                    {% csrf_token %}
                    <table class="table table-striped">
                        <thead>
                            <th>Item</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th></th>
                        </thead>
                        <tbody id="menu">
                                <!-- Ajax pulls menu items in here -->
                        </tbody>
                    </table>
                    <div class="row">
                        <input class="col mx-1" type="text" placeholder="Item" name="item">
                        <input class="col mx-1" type="text" placeholder="Description" name="description">
                        <input class="col mx-1" type="text" placeholder="Price" name="price">
                        <input class="col mx-1" type="text" value="{{menu.id}}" name="menuID" hidden>
                        <div class="col mx-1 text-right">
                            <button type="submit" class="btn btn-primary">Add Item</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        $(document).ready(function(){
            $.get({
                url: "/menu/{{menu.id}}/content",
                success: function(response){
                    $('#menu').html(response);
                }
            })
        })
        //Handle button click for add item button
        $(document).on("submit", "#menuForm", function(response){
            response.preventDefault();
            console.log("button clicked")
            $.post({
                url: "/menu/new/addItem",
                data: $(this).serialize(),
                success: function(response){
                    console.log(response);
                    $('#menu').html(response);
                }
            })
        })
        //Handle delete button
        $(document).on("click", ".delete", function(response){
            response.preventDefault();
            $.get({
                url: $(this).attr("href"),
                success: function(response){
                    console.log(response);
                    $('#menu').html(response);
                }
            })
        })
    </script>
</body>
</html>